*{
    margin: 0;
    padding: 0;
    font-family: 'roboto slab', sans-serif;
    font-weight: bold; /*in đậm*/
}
/* smooth scroll */
html {
    scroll-behavior: smooth;
  }
/* banner */
#banner {
    background: linear-gradient(rgba(0,0,0,0),#8bede3),
    url("keychron/banner-1.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.logo {
    width: 200px;
    position: absolute;
    top: 4%;
    left: 10%;
}
.banner-text  {
    text-align: center;
    color: #fff;
    padding-top: 180px;
}
.banner-text h1 {
    font-size: 130px;
}
.banner-text p {
    font-size: 20px;
    font-style: italic;
}
.banner-btn {
    margin: 70px auto 0;
}
.banner-btn a {
    position: relative;
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: .5px solid #fff;
    z-index: 1;
    transition: color 0.5s;
    border-radius: 10px;
}
.banner-btn a span {
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: color 0.5s;
    border-radius: 10px;
}
.banner-btn a:hover span {
    width: 100%;
}
.banner-btn a:hover {
    color: black;
}

/* sideNav */
#sideNav {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -250px;
    background: #636363;
    z-index: 2;
    transition:  right 0.5s;
}
nav ul li {
    list-style: none;
    margin: 50px 20px;
}
nav ul li a {
    text-decoration: none;
    color: white;
}
.itemNav {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    margin: 10px;
}
#menuBtn {
    width: 50px;
    height: 50px;
    background: #605c5c;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#menuBtn img {
    width: 35px;
    margin-top: 8px;
}

/* features */
#feature {
    width: 100%;
    padding-top: 50px;
    margin-bottom: 110px;
}
.title-text {
    text-align: center;
    padding-bottom: 70px;
}
.title-text p {
    margin: auto;
    font-size: 20px;
    color: #333;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text p::after {
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#019578,#fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    font-weight: bold;
}
.title-text h1 {
    font-size: 50px;
}
.feature-box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.features {
    flex-basis: 50%;
}
.features-img {
    flex-basis: 50%;
    margin: auto;
}
.features-img img {
    width: 70%;
    border-radius: 10px;
}
.features h1 {
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: red;
}
.features-desc {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.feature-icon .bi {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #009688;
}
.feature-text p {
    text-align: initial;
    padding: 0 20px;
}

/* services */
#service {
    width: 100%;
    padding: 70px 0;
    background: #efefef;
}
.service-box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.single-service {
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: black;
    position: relative;
}
.single-service img {
    width: 100%;
    height: 550px;
    border-radius: 7px;
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0), #8bede3);
    opacity: 0;
    transform: 1s;
}
.single-service:hover .overlay {
    opacity: 1;
}
.service-desc {
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}
hr {
    background: black;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}
.service-desc p {
    font-size: 14px;
}
.single-service:hover .service-desc {
    bottom: 40%;
    opacity: 2;
}

/* testimonial */
#testimonial {
    width: 100%;
    padding: 70px 0;
}
.testimonial-row {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.testimonial-col {
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #8bede3;
    cursor: pointer;
    transition: transform .5s;
    height: 550px; /*bai mau 3 o k bang nhau phai them height*/
}
.testimonial-col p {
    font-size: 14px;
    
}
.more img {
    width: 100%;
    height: 350px;
}
.keyboard {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.keyboard img {
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}
.info .bi {
    margin-left: 10px;
    font-size: 20px;
    color: #8bede3;
}
.testimonial-col:hover {
    transform: translateY(7px);
}

/* testimonial2 */
#testimonial2 {
    width: 100%;
    padding: 70px 0;
}
.testimonial2-row {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.testimonial2-col {
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #8bede3;
    cursor: pointer;
    transition: transform .5s;
    height: 550px; /*bai mau 3 o k bang nhau phai them height*/
}
.testimonial2-col p {
    font-size: 14px;
    
}
.more img {
    width: 100%;
    height: 350px;
}
.keyboard {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.keyboard img {
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}
.info .bi {
    margin-left: 10px;
    font-size: 20px;
    color: #8bede3;
}
.testimonial2-col:hover {
    transform: translateY(7px);
}


/* footer */
#footer {
    padding: 100px 0 20px;
    background: lightgray;
    position: relative;
}
.footer-row {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left,.footer-right {
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}
.footer-right {
    text-align: right;
}
.footer-row h1 {
    margin: 10px 0;
}
.footer-row p {
    line-height: 35px;
}
.footer-img {
    /* max-width: 370px; */
    width: 100%;
    height: 500px;
    margin-top: 74px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
}
.social-links {
    text-align: center;
}
.social-links .bi {
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    margin: 40px 5px 0;
    color: #333;
    cursor: pointer;
    transition: .5s;
}
.social-links .bi:hover {
    color: #FF9900;
}
.social-links p {
    font-size: 12px;
    margin-top: 20px;
}
.footer-left .bi, .footer-right .bi {
    font-size: 20px;
    color: #009688;
    margin: 10px;
}