@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
    box-sizing: border-box;
}

:root {
    --bggradient: linear-gradient(to bottom, #333, #ffffff);
    --sniglet-font: "siglet", cursive;
    --Rubik: "Rubik", cursive;
    --Patua: "Patua One", cursive;
    --Lobster: "Lobster", cursive;
}

body {
    overflow-x: hidden;
}
/* header */
header {
    background: var(--bggradient);
}
header a {
    font-family: var(--sniglet-font);
    color: white;
    font-size: 0.9em;
}
header .row .col-md-7 {
    padding: 22vmin 1vmin;
    padding-bottom: 35vmin;
}
header .row .col-md-5 {
    padding: 4.2vmin 1vmin;
}
/* kich thuoc anh tren banner */
header .row .col-12 img {
    width: 100%;
}
header .container .col-md-7 h6 {
    padding: 1vmin;
    letter-spacing: 4px;
}
/* font chu - Rubik*/
header .container .col-md-7 {
    font-family: "Rubik", sans-serif;
}
header .container .col-md-7 h1 {
    padding: 0.1em 0em;
    font-size: 8.5vmin;
    font-weight: bold;
}
header .container .col-md-7 p {
    padding: 1vmin 5vmin;
}
.primary-btn {
    border-radius: 30px;
    font-weight: bold;
}
/* end header */

/* nav */
.navbar {
    height: 10vmin;
    z-index: 1;
}
.navbar-brand {
    padding-left: 8rem;
}
.nav-item:last-child {
    padding-right: 10rem;
}
.nav-item {
    padding: 0.9rem;
}
.nav-link:hover {
    color: red;
    text-decoration: underline; /* gach chan */
}
/* btn */
.button {
    text-decoration: none;
    font-size: 16px;
    color: white;
    border: 3px solid red;
    position: relative;
    background-color: #333;
}
.button:hover {
    background-color: red;
    border: 3px solid red;;
}
.button::before,
.button::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border: inherit;
    transition: all .5s;
}
.button::before {
    top: -10px;
    left: -10px;
    border-width: 3px 0 0 3px;
}
.button::after {
    bottom: -10px;
    right: -10px;
    border-width: 0 3px 3px 0;
}
.button:hover::before,
.button:hover::after {
    width: calc(100% + 20px);
    height: calc(100% + 20px);
}
/* end nav */

/* carousel */
.carousel-item img {
    height: 550px;
    border-radius: 0;
}
.carousel-indicators,
.carousel-control-prev, 
.carousel-control-next {
    display: none;
}
/* end carousel */
/* search */
/* .search-container {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 28px;
    gap: 24px;
    cursor: pointer;
    transition: width 500ms
        cubic-bezier(0.68, -0.55, 0.8, 1.5s);
    overflow: hidden;
}
.search-container.active {
    width: 450px;
    justify-content: flex-start;
    cursor: default;
}
.search-container i {
    font-size: 22px;
}
input {
    display: none;
    outline: none;
    border: none;
    font-size: 18px;
    background-color: transparent;
}
i.fa-times {
    display: none;
    margin-left: auto;
    cursor: pointer;
}
.search-container.active > :is(i, input) {
    display: block;
} */
/* --------------- */
.filter {
    float: right;
    height: 20px;
    line-height: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 20px;
    margin-top: 10px;
}
.button2 {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: black;
    padding: 0.2em 1.1em;
    font-size: 15px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5,
               -6px -6px 12px #ffffff;
}
  
.button2:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
               inset -4px -4px 12px #ffffff;
}
  
.button2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}
.button2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #009087;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}
.button2:hover {
    color: #ffffff;
    border: 1px solid red;
}
.button2:hover:before {
    top: -35%;
    background-color: red;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.button2:hover:after {
    top: -45%;
    background-color: red;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
} 
/* ------------------------------- */
.dd {
    margin-top: -1.5vmin;
    font-family: var(--sniglet-font);
}
.dd a {
    text-decoration: none; 
    color: black;
}
.dd a:hover {
    color: orange;
} 
/* ------------------------------- */
/* search-container
.search-container {
    position: relative;
    margin: 20px;
} */
  
/* search-field 
.search-field {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
} */
  
/* search-label
.search-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: rgba(204, 204, 204, 0);
    pointer-events: none;
    transition: all 0.3s ease;
} */
  
/* search-highlight
.search-highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #007bff;
    transition: all 0.3s ease;
} */
  
/* -----------------sp----------------- */
.namee {
    background-color: #333;
    height: 60px;
    width: 100%;
    border-radius: 5px;
    padding-top: 8px;
}
.sph {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    /* background: linear-gradient(189deg, #a3c5b4, #83a093); */
    overflow: hidden;
    margin-left: 100px;
}
#mainPhoto {
    width: 700px;
    height: 400px;
    object-fit: cover;
    transition: 0.3s;
}
.imgCarousel {
    width: 165px;
    height: 150px;
    object-fit: cover;
    margin: 0 2px;
    border: 0px solid #daecdf;
    transition: 0.3s;
    /* margin-top: 20px; */
}
.imgCarousel:hover {
    width: 160px;
    height: 160px;
    border: 5px solid red;
    margin: 10px;
    border-radius: 10px;
}
/* img {
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.1);
} */
/* .img-wrapper {
    margin-top: 10px;
} */
.wrapper {
    position: relative;
}
.wrapper:hover #mainPhoto,
.wrapper:hover .caption-wrapper {
    opacity: 1;
    height: 420px;
}
.caption-wrapper {
    top: 0;
    opacity: 1;
    position: absolute;
    width: 700px;
    height: 400px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}
.caption-wrapper #caption {
    font-family: "Playfair Display", serif;
    text-transform: capitalize;
    font-weight: 700;
    margin-top: 120px;
    font-size: 50px;
    text-align: center;
    color: #daecdf;
}
.caption-wrapper .co {
    margin-top: -5px;
    color: #daecdf;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 18px;
}
.caption-wrapper .btn {
    margin: 190px 20px;
    text-align: center;
}
.caption-wrapper .btn a {
    background: rgba(225, 225, 225, 1);
    box-shadow: 0px 5px 5px 2px rgba(33, 47, 48, 0.3);
    color: rgba(33, 47, 48, 1);
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 25px;
    text-align: center;
    transition: 0.3s;
}
.caption-wrapper .btn a:hover {
    color: red;
    font-weight: bold;
    background: rgba(33, 47, 48, 0.9);
    border: 2px solid red;
}
.title {
    margin-right: 100px;
    margin-left: -150px;
    background: lightgray;
    height: 600px;
    padding: 20px;
    border-radius: 10px;
}
.title li::marker {
    content: '✔️';
}
.title > h2 {
    text-align: center;
    color: red;
    margin-bottom: 20px;
}
.title > h5 {
    font-weight: bold; 
    color: orangered;
}
.info {
    height: 50px;
}
.info .buy {
    float: left;
    margin-left: 15px;
    width: 150px;
    height: 45px;
    border-radius: 15px;
    line-height: 45px;
    text-align: center;
    background-color: #333;
    margin-right: 25px;
}
.info .buy a {
    text-decoration: none;
    color: white;
}
.info .buy:hover {
    background-color: red;
    color: white;
}
.info .price {
    font-size: 2.5vh;
    height: 1vh;
    margin-top: -25px;
}
.info .price p {
    font-weight: bold;
    float: right;
    font-size: 27px;
    margin-left: 20px;
}
.info .price2 {
    font-size: 12px;
    margin-top: 5px;
    height: 1vh;
}
.info .price2 p {
    font-size: 14px;
    font-weight: bold;
    float: right;
    text-decoration: line-through;
}
.info .mn {
    display: grid;
    gap: 0;
}
.td {
    background-color: #484848;
    height: 350px;
    padding-top: 20px;
}
.td > hr {
    border: none;
    border-top: 5px solid #ccc;
    height: 1px;
    margin:auto;
    width: 20%;
    text-align: center;
}
.td h1 {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 30px;
    margin-top: 10px;
}
.td > p {
    text-align: center;
    color: white;
    margin: 0 400px 0 400px;
}
.td0 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    margin-top: 50px;
}
.td0 h2 {
    color: rgb(103, 103, 255);
    text-align: center;
}
.td0 p {
    color: white;
    text-align: center;
}
.content {
    opacity: 1;
}
.content img {
    width: 100%;
    height: 780px;
    border-radius: 0;
}
.nd1 {
    width: 600px;
    height: 400px;
    color: white;
    float: left;
    margin-top: -570px;
    z-index: 1;
    opacity: 0.9;
    margin-left: 80px;
}
.nd1 > h1 {
    font-weight: bold;
}
.nd2 {
    width: 400px;
    height: 400px;
    color: white;
    float: right;
    margin-top: -670px;
    z-index: 1;
    opacity: 0.9;
    margin-right: 100px;
}
.nd2 > h1 {
    font-weight: bold;
}
hr {
    border: none;
    border-top: 5px solid #ccc;
    height: 1px;
    margin: 25px 0;
    width: 40%;
}
.nd3 {
    width: 400px;
    height: 400px;
    color: white;
    float: right;
    margin-top: -430px;
    z-index: 1;
    opacity: 0.9;
    margin-right: 150px;
}
.nd4 {
    width: 400px;
    height: 400px;
    color: black;
    float: left;
    margin-top: -430px;
    z-index: 1;
    opacity: 0.9;
    margin-left: 200px;
}
.nd4 > h1 {
    font-weight: bold;
}
.nd5 {
    width: 100vw;
    height: 400px;
    color: white;
    float: left;
    margin-top: -400px;
    z-index: 1;
    opacity: 0.9;
    margin-left: 200px;
    display: flex;
}
.nd5 > h1 {
    font-weight: bold;
}
.dx {
    background: #484848;
    height: 600px;
}
.dx > h2 {
    color: white;
    text-align: center;
    padding-top: 30px;
    font-weight: bold;
    padding-bottom: 30px;
}
.dx > hr {
    border: none;
    border-top: 2px solid #ccc;
    height: 1px;
    margin: 25px 0;
    width: 50%;
    margin: auto;
}
.dx .carousel-container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}
.dx .carousel-slide {
    display: inline-block;
    width: 20%;
    margin: 0 1%;
    text-align: center;
    background: white;
    border-radius: 10px;
    height: 400px;
}
    
.dx .carousel-slide img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.dx .carousel-slide h3 {
    margin: 10px 0;
}
.dx .carousel-slide p {
    font-size: 10px;
    margin: 5px 0;
}
.dx .carousel-slide.active {
    margin-left: 0;
}
.dx .carousel-slide.prev {
    margin-left: -32%;
}
.dx .carousel-slide.next {
    margin-left: 32%;
}
.dx .carousel-slide:hover {
    transform: scale(0.9);
}
.dx .carousel-slide h3 {
    font-size: 22px;
}
.dx .carousel-slide h3:hover {
    color: red;;
}
.dx .carousel-slide p {
    float: right;
    margin-right: 30px;
    font-size: 20px;
    font-weight: bold;
    margin-top: -4px;
}
.dx .carousel-slide > .ct{
    position: absolute;
    color: black;
    font-size: 18px;
    padding: 5px 10px ;
    top: 15%;
    opacity: 0;
    border-radius: 10px;
    border: 2px solid white;
    transition: all 0.8s ;
    background: red;
    margin-top: 80px;
    margin-left: 70px;
    z-index: 1;
    height: 40px;
    width: 120px;
}
.carousel-slide:hover > .ct{
    opacity: 1; /*thiết lập độ đậm nhạt cho .ct khi hover vào .hinhanh*/
}


/* footer */
footer {
    background: #333;
    /* padding: 14vmin 18vmin; */
    color: white;
}
footer .container .col-3 hr {
    color: white;
    background: white;
    border: 0;
    height: 1px;
    width: 60%;
}
footer .container .col-4 hr {
    color: white;
    background: white;
    border: 0;
    height: 1px;
    width: 70%;
}
footer .col-12 > hr {
    border: none;
    border-top: 2px solid #ccc;
    height: 1px;
    margin: 25px 0;
    width: 100%;
}
