@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");

* {
    box-sizing: border-box;
}

:root {
    --bggradient: linear-gradient(to bottom, #333, #d0cdcd);
    --sniglet-font: "siglet", cursive;
    --Rubik: "Rubik", cursive;
    --Patua: "Patua One", cursive;
    --Lobster: "Lobster", cursive;
}

body {
    overflow-x: hidden;
}

header {
    background: var(--bggradient);
    /* background-image: url('../img/keyboard/keychron-k4-pro-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5; */
}
header a {
    font-family: var(--sniglet-font);
    color: white;
}

.navbar-brand {
    padding-left: 8rem;
}
.nav-item:last-child {
    padding-right: 10rem;
}
.nav-item {
    padding: 0.9rem;
}
.nav-link:hover {
    color: red;
}

header a {
    font-size: 0.9em;
}
header .row .col-md-7 {
    padding: 22vmin 1vmin;
    padding-bottom: 35vmin;
}
header .row .col-md-5 {
    padding: 4.2vmin 1vmin;
}
/* kich thuoc anh tren banner */
header .row .col-12 img {
    width: 100%;
}
header .container .col-md-7 h6 {
    padding: 1vmin;
    letter-spacing: 4px;
}
/* font chu - Rubik*/
header .container .col-md-7 {
    font-family: "Rubik", sans-serif;
}
header .container .col-md-7 h1 {
    padding: 0.1em 0em;
    font-size: 8.5vmin;
    font-weight: bold;
}
header .container .col-md-7 p {
    padding: 1vmin 5vmin;
}

.primary-btn {
    border-radius: 30px;
    font-weight: bold;
}

/* section 1 */
.section-1 {
    padding: 20vmin 0vmin;
}
.section-1 .row .col-md-6 img{
    opacity: 0.8;
    width: 80%;
    border-radius: 0.2em;
}
.section-1 .row .col-md-6 .panel {
    position: absolute;
    background: white;
    border-radius: 3px;
    text-align: left;
    box-shadow: 0px 25px 42px 0px #333;
    z-index: 1; /*cho phan tu noi*/
    top: 7vmin;
    left: -20vmin; /*ptu lui qua trai de len img*/
    padding: 13vmin 5vmin 20vmin;
}
.section-1 .row .col-md-6 .panel p {
    opacity: 0.5; /*do dam-nhat cua chu*/
}

/* section-2 */
.cover {
    width: 100%;
    height: 55vmin;
    background: url('../image/banner1.jpg');
    background-position: -24rem -19rem;
    background-size: 150%;
    position: relative;
}
.cover .content {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    padding-top: 19vmin;
    background-color: rgba(0, 0, 0, 0.7);
}
.cover .content > h1 {
    font-size: 6vmin;
    color: white;
}
.cover .content > p {
    font-size: 2vmin;
    color: white;
}
.numbers {
    margin-top: -15vmin;
}
.numbers .rect {
    position: relative;
    z-index: 1;
    background: white;
    width: 17rem;
    height: 12rem;
    padding-top: 3.5vmin;
    margin: 1rem;
    border-radius: 0.5em;
    box-shadow: 1px 2px 50px 0px rgba(255, 0, 0, 0.349);
}
.numbers .rect h1 {
    font-size: 5rem;
    color: tomato;
}
.purchase .cards .card {
    width: 22rem;
    margin: 3vmin 3vmin;
}
.purchase h1 {
    padding-top: 15vmin;
    padding-bottom: 0.1em;
}
.purchase p {
   font-size: 3vmin;
   padding-bottom: 10vmin;
}
.cards div {
    padding: 0;
    margin: 0;
}
.cards .title{
    background: rgba(208, 241, 241, 0.119);
    padding: 1.4rem 2.4em;
    font-size: 2vmin;
}
.card .card-text {
    padding: 2.5rem 3rem;
    font-size: 1rem;
}
.card-body .pricing {
    background: rgba(208, 241, 241, 0.119);
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
}
.card-body .pricing h1 {
    font-size: 10vmin;
    padding: 1em 0.5em;
}
/* section-3 */
.section-3 {
    margin-top: 15vmin;
    height: 70vmin;
    /*gan gia tri mau da thiet lap trong root*/
    background: var(--bggradient);
}
.section-3 .desktop {
    background: white;
    display: inline-block;
    border-radius: 3em;
    padding: 2vmin 4.5vmin;
    margin: 1em;
}
.section-3 .col-md-12 h1 {
    padding: 2em 0 0.5em 0;
    color: white;
    font-size: 6vmin;
}
.section-3 .col-md-12 p {
    padding: 0 4em;
    padding-bottom: 2em;
    font-size: 3vmin;
    color: white;
}
.section-3 .desktop h3 {
    font-size: 4vmin;
}
.section-3 .desktop p {
    font-size: 2vmin;
}
/* section-4 */
.section-4 .container h1 {
    font-size: 6vmin;
    padding-top: 14vmin;
}
.section-4 .team {
    padding: 10vmin 4vmin;
}
.section-4 .card {
    width: 22em;
    margin-top: 10vmin;
}
.section-4 .card .card-text {
    padding: 0.5e;
}
.section-4 .card-body a {
    font-size: 1.5em;
}
.section-4 .carousel-item {
    padding-left: 3rem;
}
.border-radius {
    border-radius: 340px;
    width: 60%;
}

/* footer */
footer {
    background: #333;
    padding: 14vmin 18vmin;
}
footer p span {
    color: #ff512f;
} 
footer input {
    border: none !important;
}
footer input::placeholder {
    color: white !important;
}
footer .input-group .input-group-text {
    background: var(--bggradient);
}
footer .column i {
    color: #dd2476;
}
footer .column i {
    padding: 0 0.5em;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.815);
    z-index: 9999;
    transition: all 1.5s ease;
}