@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");

* {
    box-sizing: border-box;
}

:root {
    --bggradient: linear-gradient(to bottom, #333, #ffffff);
    --sniglet-font: "siglet", cursive;
    --Rubik: "Rubik", cursive;
    --Patua: "Patua One", cursive;
    --Lobster: "Lobster", cursive;
}

body {
    overflow-x: hidden;
}
/* header */
header {
    background: var(--bggradient);
}
header a {
    font-family: var(--sniglet-font);
    color: white;
    font-size: 0.9em;
}
header .row .col-md-7 {
    padding: 22vmin 1vmin;
    padding-bottom: 35vmin;
}
header .row .col-md-5 {
    padding: 4.2vmin 1vmin;
}
/* kich thuoc anh tren banner */
header .row .col-12 img {
    width: 100%;
}
header .container .col-md-7 h6 {
    padding: 1vmin;
    letter-spacing: 4px;
}
/* font chu - Rubik*/
header .container .col-md-7 {
    font-family: "Rubik", sans-serif;
}
header .container .col-md-7 h1 {
    padding: 0.1em 0em;
    font-size: 8.5vmin;
    font-weight: bold;
}
header .container .col-md-7 p {
    padding: 1vmin 5vmin;
}
.primary-btn {
    border-radius: 30px;
    font-weight: bold;
}
/* end header */

/* nav */
.navbar {
    height: 10vmin;
    z-index: 1;
}
.navbar-brand {
    padding-left: 8rem;
}
.nav-item:last-child {
    padding-right: 10rem;
}
.nav-item {
    padding: 0.9rem;
}
.nav-link:hover {
    color: red;
}
/* btn login-register*/
.button {
    text-decoration: none;
    font-size: 16px;
    color: white;
    border: 3px solid red;
    position: relative;
    background-color: #333;
}
.button::before,
.button::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border: inherit;
    transition: all .5s;
}
.button::before {
    top: -10px;
    left: -10px;
    border-width: 3px 0 0 3px;
}
.button::after {
    bottom: -10px;
    right: -10px;
    border-width: 0 3px 3px 0;
}
.button:hover::before,
.button:hover::after {
    width: calc(100% + 20px);
    height: calc(100% + 20px);
}
.button:hover {
    background-color: red;
    border: 3px solid red;;
}
/* end nav */

/* carousel */
.carousel-item img {
    height: 550px;
}
.carousel-indicators,
.carousel-control-prev, 
.carousel-control-next {
    display: none;
}
/* end carousel */
/* search */
/* .search-container {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 28px;
    gap: 24px;
    cursor: pointer;
    transition: width 500ms
        cubic-bezier(0.68, -0.55, 0.8, 1.5s);
    overflow: hidden;
}
.search-container.active {
    width: 450px;
    justify-content: flex-start;
    cursor: default;
}
.search-container i {
    font-size: 22px;
}
input {
    display: none;
    outline: none;
    border: none;
    font-size: 18px;
    background-color: transparent;
}
i.fa-times {
    display: none;
    margin-left: auto;
    cursor: pointer;
}
.search-container.active > :is(i, input) {
    display: block;
} */
/* --------------- */
.filter {
    float: right;
    height: 20px;
    line-height: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 20px;
    margin-top: 10px;
}
.dd {
    margin-top: -1.5vmin;
    font-family: var(--sniglet-font);
}
.dd a {
    text-decoration: none; 
    color: black;
}
.dd a:hover {
    color: orange;
}
/* section 1 */
.section-1 .name {
    background-color: #333;
    height: 60px;
    width: 100%;
    border-radius: 5px;
    padding-top: 7px;
}
.section-1 .row .card {
    display: grid;
    border: 2px solid #333;
    border-radius: 10px;
    width: 20rem; 
    height: 25rem;
    margin-left: 15px;
}
.section-1 .row .col-3 .card .card-img-top {
    width: 18rem;
    height: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
.section-1 .card .card-body {
    text-align: center;
}
.section-1 .card {
    position: relative; /*giữ cho phần tử con .ct được chứa trong phần tử cha .card*/
}

.section-1 .card > .ct{
    position: absolute;
    color: black;
    font-size: 16px;
    padding: 5px 10px ;
    top: 15%;
    left: 10%;
    opacity: 0;
    border-radius: 10px;
    border: 2px solid white;
    transition: all 0.8s ;
    background: red;
    margin-top: 100px;
    margin-left: 80px;
    z-index: 1;
}
.section-1 .card:hover {
    transform: scale(1.15) translateZ(0);
    background-size: 300px;
}
.section-1 .card-text:hover {
    color: red
}
.card:hover > .ct{
    opacity: 1; /*thiết lập độ đậm nhạt cho .ct khi hover vào .hinhanh*/
}
.section-1 .info {
    color: black;
    font-size: 15px;
}
.section-1 .buy {
    float: left;
    margin-top: -30px;
    margin-left: 30px;
    width: 60px;
    height: 40px;
    border-radius: 15px;
    line-height: 40px;
    text-align: center;
    background-color: #333;
}
.section-1 .buy:hover {
    background-color: red;
    color: white;
}
.section-1 .price {
    margin-top: -20px;
    margin-right: 20px;
    font-size: 20px;
}
/* end section 1 */

/* section 2 */
.section-2 .name {
    background-color: #333;
    height: 60px;
    width: 100%;
    border-radius: 5px;
    padding-top: 7px;
}
.section-2 li::marker {
    content: '💥';
}
.section-2 .testimonial-row {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.section-2 .testimonial-col {
    flex-basis: 30%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 1px 5px 2px lightgray;
    cursor: pointer;
    transition: transform .5s;
    height: 430px; /*bai mau 3 o k bang nhau phai them height*/
}
.section-2 .testimonial-col p {
    font-size: 20px;
}
.section-2 .more {
    width: 100%;
    height: 350px;
}
.section-2 .more img {
    width: 100%;
    height: 250px;
}
.section-2 .keyboard {
    margin: 20px 0;
}
.section-2 .keyboard h4 {
    text-align: center;
}
.section-2 .keyboard img {
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}
.section-2 .keyboard h4:hover {
    color: red;
}
.section-2 .testimonial-col:hover {
    transform: translateY(7px);
}
.section-2 .buy {
    float: left;
    margin-top: -80px;
    margin-left: 10px;
    width: 60px;
    height: 40px;
    border-radius: 15px;
    line-height: 40px;
    text-align: center;
    background-color: #333;
}
.section-2 .buy:hover {
    background-color: red;
    color: white;
}
.section-2 .price {
    margin-top: -70px;
    margin-right: 20px;
    font-size: 20px;
}
.section-2 .more > .xt{
    position: absolute;
    color: black;
    font-size: 16px;
    padding: 5px 10px ;
    top: 20%;
    left: 10%;
    opacity: 0;
    border-radius: 10px;
    border: 2px solid white;
    transition: all 0.8s ;
    background: red;
    margin-top: 100px;
    margin-left: 80px;
    z-index: 1;
}
.section-2 .more:hover > .xt{
    opacity: 1; /*thiết lập độ đậm nhạt cho .ct khi hover vào .hinhanh*/
}
.section-2 .card1 {
    border-radius: 10px;
    border: 0;
    height: 350px;
    border: 2px solid red;
    display: grid;
    place-content: center;
}
.section-2 .card1:hover {
    border: 3px solid orange;
}
.section-2 .card > .xt{
    position: absolute;
    color: black;
    font-size: 16px;
    padding: 5px 10px ;
    top: 20%;
    left: 20%;
    opacity: 0;
    border-radius: 10px;
    border: 2px solid white;
    transition: all 0.8s ;
    background: red;
    margin-top: 100px;
    margin-left: 70px;
    z-index: 1;
}
.section-2 .card1:hover > .xt1{
    opacity: 1; /*thiết lập độ đậm nhạt cho .ct khi hover vào .hinhanh*/
}
.section-2 .card1 > .xt1{
    position: absolute;
    color: black;
    font-size: 16px;
    padding: 5px 10px ;
    top: 20%;
    left: 20%;
    opacity: 0;
    border-radius: 10px;
    border: 2px solid white;
    transition: all 0.8s ;
    background: red;
    margin-top: 100px;
    margin-left: 70px;
    z-index: 1;
}
.section-2 .card:hover > .xt{
    opacity: 1; /*thiết lập độ đậm nhạt cho .ct khi hover vào .hinhanh*/
}
.section-2 .card1 img {
    margin-top: 50px;
    width: 60%;
    height: 180px;
}
.section-2 .category {
    font-size: 10px;
    background: red;
    border-radius: 8px;
    padding: 5px 15px;
    font-weight: bold;
    color: white;

    -webkit-animation: gg 700ms infinite;
    -moz-animation: gg 700ms infinite;
    -o-animation: gg 700ms infinite;
    animation: gg 700ms infinite;
}
.section-2 .price {
    font-weight: bold;
    font-size: 20px;
}
.section-2 .name2 {
    font-size: 18px;
}
.section-2 .info {
    color: black;
    font-size: 15px;
}
.section-2 .gig p {
    text-decoration: line-through;
    color: black;
}
.section-2 .name1 {
    background-color: #ef0a0a;
    height: 70px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 35px;
    border-radius: 26% 74% 20% 80% / 80% 19% 81% 20% ;
    -webkit-animation-name: example; 
    -webkit-animation-duration: 4s;  
    animation-name: example;  
    animation-duration: 4s;
    /* clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%); */
    
}
.section-2 .name1 p {
    color: white; 
    text-align: center; 
    font-weight: bold; 
    font-size: 20px;
    /* -webkit-animation: gg 700ms infinite;
    -moz-animation: gg 700ms infinite;
    -o-animation: gg 700ms infinite;
    animation: gg 700ms infinite; */
}
/* end section 2 */
/* -------------------------------------- */
/* section 3 */
.section-3 .name {
    background-color: #333;
    height: 60px;
    width: 100%;
    border-radius: 5px;
    padding-top: 7px;
}
.section-3 li::marker {
    content: '💥';
}
.section-3 .testimonial-row {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.section-3 .testimonial-col {
    flex-basis: 30%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 1px 5px 2px lightgray;
    cursor: pointer;
    transition: transform .5s;
    height: 430px; /*bai mau 3 o k bang nhau phai them height*/
}
.section-3 .testimonial-col p {
    font-size: 20px;
}
.section-3 .more {
    width: 100%;
    height: 350px;
}
.section-3 .more img {
    width: 100%;
    height: 250px;
}
.section-3 .keyboard {
    margin: 20px 0;
}
.section-3 .keyboard h4 {
    text-align: center;
}
.section-3 .keyboard img {
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}
.section-3 .keyboard h4:hover {
    color: red;
}
.section-3 .testimonial-col:hover {
    transform: translateY(7px);
}
.section-3 .buy {
    float: left;
    margin-top: -80px;
    margin-left: 10px;
    width: 60px;
    height: 40px;
    border-radius: 15px;
    line-height: 40px;
    text-align: center;
    background-color: #333;
}
.section-3 .buy:hover {
    background-color: red;
    color: white;
}
.section-3 .price {
    margin-top: -70px;
    margin-right: 20px;
    font-size: 20px;
}
.section-3 .more > .xt{
    position: absolute;
    color: black;
    font-size: 16px;
    padding: 5px 10px ;
    top: 20%;
    left: 10%;
    opacity: 0;
    border-radius: 10px;
    border: 2px solid white;
    transition: all 0.8s ;
    background: red;
    margin-top: 100px;
    margin-left: 80px;
    z-index: 1;
}
.section-3 .more:hover > .xt{
    opacity: 1; /*thiết lập độ đậm nhạt cho .ct khi hover vào .hinhanh*/
}
.section-3 .card1 {
    border-radius: 10px;
    border: 0;
    height: 350px;
    border: 2px solid red;
    display: grid;
    place-content: center;
}
.section-3 .card1:hover {
    border: 3px solid orange;
}
.section-3 .card > .xt{
    position: absolute;
    color: black;
    font-size: 16px;
    padding: 5px 10px ;
    top: 20%;
    left: 20%;
    opacity: 0;
    border-radius: 10px;
    border: 2px solid white;
    transition: all 0.8s ;
    background: red;
    margin-top: 100px;
    margin-left: 70px;
    z-index: 1;
}
.section-3 .card1:hover > .xt1{
    opacity: 1; /*thiết lập độ đậm nhạt cho .ct khi hover vào .hinhanh*/
}
.section-3 .card1 > .xt1{
    position: absolute;
    color: black;
    font-size: 16px;
    padding: 5px 10px ;
    top: 20%;
    left: 20%;
    opacity: 0;
    border-radius: 10px;
    border: 2px solid white;
    transition: all 0.8s ;
    background: red;
    margin-top: 100px;
    margin-left: 70px;
    z-index: 1;
}
.section-3 .card:hover > .xt{
    opacity: 1; /*thiết lập độ đậm nhạt cho .ct khi hover vào .hinhanh*/
}
.section-3 .card1 img {
    margin-top: 50px;
    width: 60%;
    height: 180px;
}
.section-3 .category {
    font-size: 10px;
    background: red;
    border-radius: 8px;
    padding: 5px 15px;
    font-weight: bold;
    color: white;

    -webkit-animation: gg 700ms infinite;
    -moz-animation: gg 700ms infinite;
    -o-animation: gg 700ms infinite;
    animation: gg 700ms infinite;
}
.section-3 .price {
    font-weight: bold;
    font-size: 20px;
}
.section-3 .name2 {
    font-size: 18px;
}
.section-3 .info {
    color: black;
    font-size: 15px;
}
.section-3 .gig p {
    text-decoration: line-through;
    color: black;
}
.section-3 .name1 {
    background-color: #ef0a0a;
    height: 70px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 35px;
    border-radius: 26% 74% 20% 80% / 80% 19% 81% 20% ;
    -webkit-animation-name: example; 
    -webkit-animation-duration: 4s;  
    animation-name: example;  
    animation-duration: 4s;

    /* clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%); */
}
.section-3 .name1 p {
    color: white; 
    text-align: center; 
    font-weight: bold; 
    font-size: 20px;
    /* -webkit-animation: gg 700ms infinite;
    -moz-animation: gg 700ms infinite;
    -o-animation: gg 700ms infinite;
    animation: gg 700ms infinite; */
}
/* end section 3 */
/* -------------------------------------- */
/* section 4 */
.section-4 .name {
    background-color: #333;
    height: 60px;
    width: 100%;
    border-radius: 5px;
    padding-top: 7px;
}
.section-4 li::marker {
    content: '💥';
}
.section-4 .testimonial-row {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.section-4 .testimonial-col {
    flex-basis: 30%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 1px 5px 2px lightgray;
    cursor: pointer;
    transition: transform .5s;
    height: 430px; /*bai mau 3 o k bang nhau phai them height*/
}
.section-4 .testimonial-col p {
    font-size: 20px;
}
.section-4 .more {
    width: 100%;
    height: 350px;
}
.section-4 .more img {
    width: 100%;
    height: 250px;
}
.section-4 .keyboard {
    margin: 20px 0;
}
.section-4 .keyboard h4 {
    text-align: center;
}
.section-4 .keyboard img {
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}
.section-4 .keyboard h4:hover {
    color: red;
}
.section-4 .testimonial-col:hover {
    transform: translateY(7px);
}
.section-4 .buy {
    float: left;
    margin-top: -80px;
    margin-left: 10px;
    width: 60px;
    height: 40px;
    border-radius: 15px;
    line-height: 40px;
    text-align: center;
    background-color: #333;
}
.section-4 .buy:hover {
    background-color: red;
    color: white;
}
.section-4 .price {
    margin-top: -70px;
    margin-right: 20px;
    font-size: 20px;
}
.section-4 .more > .xt{
    position: absolute;
    color: black;
    font-size: 16px;
    padding: 5px 10px ;
    top: 20%;
    left: 10%;
    opacity: 0;
    border-radius: 10px;
    border: 2px solid white;
    transition: all 0.8s ;
    background: red;
    margin-top: 100px;
    margin-left: 80px;
    z-index: 1;
}
.section-4 .more:hover > .xt{
    opacity: 1; /*thiết lập độ đậm nhạt cho .ct khi hover vào .hinhanh*/
}
.section-4 .card1 {
    border-radius: 10px;
    border: 0;
    height: 350px;
    border: 2px solid red;
    display: grid;
    place-content: center;
}
.section-4 .card1:hover {
    border: 3px solid orange;
}
.section-4 .card > .xt{
    position: absolute;
    color: black;
    font-size: 16px;
    padding: 5px 10px ;
    top: 20%;
    left: 20%;
    opacity: 0;
    border-radius: 10px;
    border: 2px solid white;
    transition: all 0.8s ;
    background: red;
    margin-top: 100px;
    margin-left: 70px;
    z-index: 1;
}
.section-4 .card1:hover > .xt1{
    opacity: 1; /*thiết lập độ đậm nhạt cho .ct khi hover vào .hinhanh*/
}
.section-4 .card1 > .xt1{
    position: absolute;
    color: black;
    font-size: 16px;
    padding: 5px 10px ;
    top: 20%;
    left: 20%;
    opacity: 0;
    border-radius: 10px;
    border: 2px solid white;
    transition: all 0.8s ;
    background: red;
    margin-top: 100px;
    margin-left: 70px;
    z-index: 1;
}
.section-4 .card:hover > .xt{
    opacity: 1; /*thiết lập độ đậm nhạt cho .ct khi hover vào .hinhanh*/
}
.section-4 .card1 img {
    margin-top: 50px;
    width: 60%;
    height: 180px;
}
.section-4 .category {
    font-size: 10px;
    background: red;
    border-radius: 8px;
    padding: 5px 15px;
    font-weight: bold;
    color: white;

    -webkit-animation: gg 700ms infinite;
    -moz-animation: gg 700ms infinite;
    -o-animation: gg 700ms infinite;
    animation: gg 700ms infinite;
}
.section-4 .price {
    font-weight: bold;
    font-size: 20px;
}
.section-4 .name2 {
    font-size: 18px;
}
.section-4 .info {
    color: black;
    font-size: 15px;
}
.section-4 .gig p {
    text-decoration: line-through;
    color: black;
}
.section-4 .name1 {
    background-color: #ef0a0a;
    height: 70px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 35px;
    border-radius: 26% 74% 20% 80% / 80% 19% 81% 20% ;
    -webkit-animation-name: example; 
    -webkit-animation-duration: 4s;  
    animation-name: example;  
    animation-duration: 4s;

    /* clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%); */
}
.section-4 .name1 p {
    color: white; 
    text-align: center; 
    font-weight: bold; 
    font-size: 20px;
    /* -webkit-animation: gg 700ms infinite;
    -moz-animation: gg 700ms infinite;
    -o-animation: gg 700ms infinite;
    animation: gg 700ms infinite; */
}
/* end section 4 */
/* -------------------------------------- */
/* section 5 */
.section-5 .name {
    background-color: #333;
    height: 60px;
    width: 100%;
    border-radius: 5px;
    padding-top: 7px;
}
.section-5 li::marker {
    content: '💥';
}
.section-5 .testimonial-row {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.section-5 .testimonial-col {
    flex-basis: 30%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 1px 5px 2px lightgray;
    cursor: pointer;
    transition: transform .5s;
    height: 430px; /*bai mau 3 o k bang nhau phai them height*/
}
.section-5 .testimonial-col p {
    font-size: 20px;
}
.section-5 .more {
    width: 100%;
    height: 350px;
}
.section-5 .more img {
    width: 100%;
    height: 250px;
}
.section-5 .keyboard {
    margin: 20px 0;
}
.section-5 .keyboard h4 {
    text-align: center;
}
.section-5 .keyboard img {
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}
.section-5 .keyboard h4:hover {
    color: red;
}
.section-5 .testimonial-col:hover {
    transform: translateY(7px);
}
.section-5 .buy {
    float: left;
    margin-top: -80px;
    margin-left: 10px;
    width: 60px;
    height: 40px;
    border-radius: 15px;
    line-height: 40px;
    text-align: center;
    background-color: #333;
}
.section-5 .buy:hover {
    background-color: red;
    color: white;
}
.section-5 .price {
    margin-top: -70px;
    margin-right: 20px;
    font-size: 20px;
}
.section-5 .more > .xt{
    position: absolute;
    color: black;
    font-size: 16px;
    padding: 5px 10px ;
    top: 20%;
    left: 10%;
    opacity: 0;
    border-radius: 10px;
    border: 2px solid white;
    transition: all 0.8s ;
    background: red;
    margin-top: 100px;
    margin-left: 80px;
    z-index: 1;
}
.section-5 .more:hover > .xt{
    opacity: 1; /*thiết lập độ đậm nhạt cho .ct khi hover vào .hinhanh*/
}
.section-5 .card1 {
    border-radius: 10px;
    border: 0;
    height: 350px;
    border: 2px solid red;
    display: grid;
    place-content: center;
}
.section-5 .card1:hover {
    border: 3px solid orange;
}
.section-5 .card > .xt{
    position: absolute;
    color: black;
    font-size: 16px;
    padding: 5px 10px ;
    top: 20%;
    left: 20%;
    opacity: 0;
    border-radius: 10px;
    border: 2px solid white;
    transition: all 0.8s ;
    background: red;
    margin-top: 100px;
    margin-left: 70px;
    z-index: 1;
}
.section-5 .card1:hover > .xt1{
    opacity: 1; /*thiết lập độ đậm nhạt cho .ct khi hover vào .hinhanh*/
}
.section-5 .card1 > .xt1{
    position: absolute;
    color: black;
    font-size: 16px;
    padding: 5px 10px ;
    top: 20%;
    left: 20%;
    opacity: 0;
    border-radius: 10px;
    border: 2px solid white;
    transition: all 0.8s ;
    background: red;
    margin-top: 100px;
    margin-left: 70px;
    z-index: 1;
}
.section-5 .card:hover > .xt{
    opacity: 1; /*thiết lập độ đậm nhạt cho .ct khi hover vào .hinhanh*/
}
.section-5 .card1 img {
    margin-top: 50px;
    width: 60%;
    height: 180px;
}
.section-5 .category {
    font-size: 10px;
    background: red;
    border-radius: 8px;
    padding: 5px 15px;
    font-weight: bold;
    color: white;

    -webkit-animation: gg 700ms infinite;
    -moz-animation: gg 700ms infinite;
    -o-animation: gg 700ms infinite;
    animation: gg 700ms infinite;
}
.section-5 .price {
    font-weight: bold;
    font-size: 20px;
}
.section-5 .name2 {
    font-size: 18px;
}
.section-5 .info {
    color: black;
    font-size: 15px;
}
.section-5 .gig p {
    text-decoration: line-through;
    color: black;
}
.section-5 .name1 {
    background-color: #ef0a0a;
    height: 70px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 35px;
    border-radius: 26% 74% 20% 80% / 80% 19% 81% 20% ;
    -webkit-animation-name: example; 
    -webkit-animation-duration: 4s;  
    animation-name: example;  
    animation-duration: 4s;

    /* clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%); */
}
.section-5 .name1 p {
    color: white; 
    text-align: center; 
    font-weight: bold; 
    font-size: 20px;
    /* -webkit-animation: gg 700ms infinite;
    -moz-animation: gg 700ms infinite;
    -o-animation: gg 700ms infinite;
    animation: gg 700ms infinite; */
}
/* end section 5 */
/* -------------------------------------- */
/* section 6 */
.section-6 .name {
    background-color: #333;
    height: 60px;
    width: 100%;
    border-radius: 5px;
    padding-top: 7px;
}
.section-6 li::marker {
    content: '💥';
}
.section-6 .testimonial-row {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.section-6 .testimonial-col {
    flex-basis: 30%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 1px 5px 2px lightgray;
    cursor: pointer;
    transition: transform .5s;
    height: 430px; /*bai mau 3 o k bang nhau phai them height*/
}
.section-6 .testimonial-col p {
    font-size: 20px;
}
.section-6 .more {
    width: 100%;
    height: 350px;
}
.section-6 .more img {
    width: 100%;
    height: 250px;
}
.section-6 .keyboard {
    margin: 20px 0;
}
.section-6 .keyboard h4 {
    text-align: center;
}
.section-6 .keyboard img {
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}
.section-6 .keyboard h4:hover {
    color: red;
}
.section-6 .testimonial-col:hover {
    transform: translateY(7px);
}
.section-6 .buy {
    float: left;
    margin-top: -80px;
    margin-left: 10px;
    width: 60px;
    height: 40px;
    border-radius: 15px;
    line-height: 40px;
    text-align: center;
    background-color: #333;
}
.section-6 .buy:hover {
    background-color: red;
    color: white;
}
.section-6 .price {
    margin-top: -70px;
    margin-right: 20px;
    font-size: 20px;
}
.section-6 .more > .xt{
    position: absolute;
    color: black;
    font-size: 16px;
    padding: 5px 10px ;
    top: 20%;
    left: 10%;
    opacity: 0;
    border-radius: 10px;
    border: 2px solid white;
    transition: all 0.8s ;
    background: red;
    margin-top: 100px;
    margin-left: 80px;
    z-index: 1;
}
.section-6 .more:hover > .xt{
    opacity: 1; /*thiết lập độ đậm nhạt cho .ct khi hover vào .hinhanh*/
}
.section-6 .card1 {
    border-radius: 10px;
    border: 0;
    height: 350px;
    border: 2px solid red;
    display: grid;
    place-content: center;
}
.section-6 .card1:hover {
    border: 3px solid orange;
}
.section-6 .card > .xt{
    position: absolute;
    color: black;
    font-size: 16px;
    padding: 5px 10px ;
    top: 20%;
    left: 20%;
    opacity: 0;
    border-radius: 10px;
    border: 2px solid white;
    transition: all 0.8s ;
    background: red;
    margin-top: 100px;
    margin-left: 70px;
    z-index: 1;
}
.section-6 .card1:hover > .xt1{
    opacity: 1; /*thiết lập độ đậm nhạt cho .ct khi hover vào .hinhanh*/
}
.section-6 .card1 > .xt1{
    position: absolute;
    color: black;
    font-size: 16px;
    padding: 5px 10px ;
    top: 20%;
    left: 20%;
    opacity: 0;
    border-radius: 10px;
    border: 2px solid white;
    transition: all 0.8s ;
    background: red;
    margin-top: 100px;
    margin-left: 70px;
    z-index: 1;
}
.section-6 .card:hover > .xt{
    opacity: 1; /*thiết lập độ đậm nhạt cho .ct khi hover vào .hinhanh*/
}
.section-6 .card1 img {
    margin-top: 50px;
    width: 60%;
    height: 180px;
}
.section-6 .category {
    font-size: 10px;
    background: red;
    border-radius: 8px;
    padding: 5px 15px;
    font-weight: bold;
    color: white;

    -webkit-animation: gg 700ms infinite;
    -moz-animation: gg 700ms infinite;
    -o-animation: gg 700ms infinite;
    animation: gg 700ms infinite;
}
.section-6 .price {
    font-weight: bold;
    font-size: 20px;
}
.section-6 .name2 {
    font-size: 18px;
}
.section-6 .info {
    color: black;
    font-size: 15px;
}
.section-6 .gig p {
    text-decoration: line-through;
    color: black;
}
.section-6 .name1 {
    background-color: #ef0a0a;
    height: 70px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 35px;
    border-radius: 20px;
    -webkit-animation-name: example; 
    -webkit-animation-duration: 4s;  
    animation-name: example;  
    animation-duration: 4s;

    /* clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%); */
}
.section-6 .name1 p {
    color: white; 
    text-align: center; 
    font-weight: bold; 
    font-size: 20px;
    /* -webkit-animation: gg 700ms infinite;
    -moz-animation: gg 700ms infinite;
    -o-animation: gg 700ms infinite;
    animation: gg 700ms infinite; */
}
/* end section 6 */







/* khuyen mai */
.khuyen-mai-hb {
	margin-bottom: 2px;
	margin-top: 2px;
	background: white;
	padding: 10px;
	border-radius: 5px;
	border: 2px solid red;
	font-size: 15px;
	width: 100%;
}
.khuyen-mai-hb .tieu-de {
	background: #e31616;
	padding: 2px 20px;
	margin-top: -24px;
	font-size: 15px;
	font-weight: bold;
	color: #ffffff;
	display: block;
	max-width: 207px;
	border-radius: 99px;
}
.khuyen-mai-hb ul {
   margin-bottom: 4px;
   /* list-style-image: url(tick.png);	 */
}






/* footer */
footer {
    background: #484848;
    /* padding: 14vmin 18vmin; */
    color: white;
}
footer .container .col-3 hr {
    color: white;
    background: white;
    border: 0;
    height: 1px;
}
footer .container .col-4 hr {
    color: white;
    background: white;
    border: 0;
    height: 1px;
}
.container .col-4 i {
    font-size: 20px;
}
.container .col-4 i:hover {
    transform: scale(1.2);
}






/* Animation */

@-webkit-keyframes example 
{  
    0% {background-color: red}  
    25% {background-color: rgb(182, 25, 25);}  
    50% {background-color: rgb(241, 37, 37);}  
    100% {background-color: rgb(255, 0, 0);}
}
@keyframes example
{  
    0% {background-color: red;}  
    25% {background-color: rgb(182, 25, 25);}  
    50% {background-color: rgb(241, 37, 37);}  
    100% {background-color: rgb(255, 0, 0);}
}

@-webkit-keyframes gg {
    0% { color: #ffd000; }
    50% { color: #fff; }
    100% { color: #ffd000; }
}
@-moz-keyframes gg {
    0% { color: #ffd000; }
    50% { color: #fff; }
    100% { color: #ffd000; }
}
@-o-keyframes gg {
    0% { color: #ffd000; }
    50% { color: #fff; }
    100% { color: #ffd000; }
}
@keyframes gg {
    0% { color: #ffd000; }
    50% { color: #fff; }
    100% { color: #ffd000; }
}









/* section .. */
.gallery {
    display: flex;
    height: 150px;
    border-radius: 5px;
    margin-bottom: 50px;
}
.gallery > .image {
    min-width: 0;
    flex: 1 1 10px;
    object-fit: cover;
    transition: 0.5s;
    filter: brightness(70%);
}
.gallery > .image:hover {
    flex: 1 1 280px;
    filter: drop-shadow(0 2px 16px red) contrast(110%);
}
.gallery > .image p {
    z-index: 1;
    margin-top: -100px;
    color: white;
}
/* .img span {
    display: block;
    width: 50%;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    font-weight: bold;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s;
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
                0px -4px 10px rgba(255, 255, 255, 0.3);
}
.img:hover span {
    bottom: 20px;
} */