* {
    box-sizing: border-box;
}

:root {
    --bggradient: linear-gradient(to bottom, #333, #ffffff);
    --sniglet-font: "siglet", cursive;
    --Rubik: "Rubik", cursive;
    --Patua: "Patua One", cursive;
    --Lobster: "Lobster", cursive;
}

body {
    overflow-x: hidden;
}
/* header */
header {
    background: var(--bggradient);
}
header a {
    font-family: var(--sniglet-font);
    color: white;
    font-size: 0.9em;
}
header .row .col-md-7 {
    padding: 22vmin 1vmin;
    padding-bottom: 35vmin;
}
header .row .col-md-5 {
    padding: 4.2vmin 1vmin;
}
/* kich thuoc anh tren banner */
header .row .col-12 img {
    width: 100%;
}
header .container .col-md-7 h6 {
    padding: 1vmin;
    letter-spacing: 4px;
}
/* font chu - Rubik*/
header .container .col-md-7 {
    font-family: "Rubik", sans-serif;
}
header .container .col-md-7 h1 {
    padding: 0.1em 0em;
    font-size: 8.5vmin;
    font-weight: bold;
}
header .container .col-md-7 p {
    padding: 1vmin 5vmin;
}
.primary-btn {
    border-radius: 30px;
    font-weight: bold;
}
/* end header */

/* nav */
.navbar {
    height: 10vmin;
    z-index: 1;
}
.navbar-brand {
    padding-left: 2rem;
}
.nav-item:last-child {
    padding-right: 10rem;
}
.nav-item {
    padding: 0.9rem;
}
.nav-link:hover {
    color: red;
}

.button {
    text-decoration: none;
    font-size: 16px;
    color: white;
    border: 3px solid red;
    position: relative;
    background-color: #333;
}
.button::before,
.button::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border: inherit;
    transition: all .5s;
}
.button::before {
    top: -10px;
    left: -10px;
    border-width: 3px 0 0 3px;
}
.button::after {
    bottom: -10px;
    right: -10px;
    border-width: 0 3px 3px 0;
}
.button:hover::before,
.button:hover::after {
    width: calc(100% + 20px);
    height: calc(100% + 20px);
}
/* end nav */

/* carousel */
.carousel-item img {
    height: 550px;
}
.carousel-indicators,
.carousel-control-prev, 
.carousel-control-next {
    display: none;
}
/* end carousel */
/* filter */
 .filter {
    float: right;
    height: 30px;
    line-height: 20px;
    padding-bottom: 2px;
    margin-right: 20px;
    margin-top: 2px;
}
/* end filter */


/*RWD - thu nhỏ sửa sổ các box sẽ căn chỉnh đều nhau*/
@media only screen and (max-width: 600px){
    .narbar-brand {
        padding-left: 2rem;
    }
    .navbar-nav {
        background-color: #333;
        z-index: 1;
        height: 550px;
        width: 280px;
        float: right;
        text-align: right;
    }
    .nav-item .dropdow-menu{
        background-color: #484848;
    }
    .bt {
        display: flex;
    }
    .carousel-inner, .carousel-item{
        height: 350px;
    }
    .carousel-item img {
        height: 350px;
    }
    .filter {
        float: right;
        height: 25px;
        line-height: 25px;
        padding-bottom: 2px;
        margin-right: 10px;
        margin-top: 2px;
        font-size: 13px;
    }
    .filter select {
        width: 110px;
    }
    .dd {
        height: 20px;
    }
    .title {
        text-align: center;
        color: red;
        background-color: #333;
        width: 100%;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
    }
    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 10px;
    }
    .sp {
        border: 3px solid #333;
        border-radius: 10px;
        position: relative;
        width: 250px;
        height: 350px;
    }
    .sp:hover {
        border: 3px solid red;
        transform: translateY(2px) scale(0.98);
        opacity: 1;
    }
    .sp .hinhanh img {
        width: 100%;
        height: 250px;
        border-radius: 5px;
    }
    .sp .hinhanh > .ct{
        position: absolute;
        color: black;
        font-size: 22px;
        padding: 5px 10px ;
        top: 15%;
        left: 5%;
        opacity: 0;
        border-radius: 10px;
        border: 2px solid white;
        transition: all 0.8s ;
        background: red;
        margin-top: 100px;
        margin-left: 80px;
    }
    .sp .hinhanh:hover > .ct{
        opacity: 1; /*thiết lập độ đậm nhạt cho .ct khi hover vào .hinhanh*/
    }
    .name {
        padding: 15px;
        text-align: center;
        height: 45px;
        font-size: 20px;
    }
    .name:hover {
        color: red;
    }
    .title {
        text-align: center;
        color: red;
        background-color: #333;
        width: 100%;
        height: 50px;
        line-height: 50px;
        font-size: 22px;
    }
    
    .cards .hinhanh .info .buy {
        float: left;
        margin-left: 15px;
        width: 55px;
        height: 35px;
        border-radius: 15px;
        line-height: 35px;
        text-align: center;
        background-color: #333;
    }
    .cards .hinhanh .info .buy:hover {
        background-color: red;
        color: white;
    }
    .cards .hinhanh .info .price {
        font-size: 16px;
        margin-top: 5px;
    }
    .cards .hinhanh .info .price p {
        font-weight: bold;
        float: right;
    }
    .cards .hinhanh .info .price2 {
        font-size: 14px;
        margin-top: 5px;
    }
    .cards .hinhanh .info .price2 p {
        font-size: 16px;
        font-weight: bold;
        float: right;
        text-decoration: line-through;
    }
}





/* ----------------------------- */
/* footer */
footer {
    background: #484848;
    /* padding: 14vmin 18vmin; */
    color: white;
}
footer .container .col-3 hr {
    color: white;
    background: white;
    border: 0;
    height: 1px;
}
footer .container .col-4 hr {
    color: white;
    background: white;
    border: 0;
    height: 1px;
}