body {
    background-color: #ebf4fe;
}
.menu img {
    height: 45px;
}
.nav {
    padding-left: 80px;
}
.nav-item {
    padding: 0 20px;
    line-height: 45px;
    font-weight: bold;
    color: #062b50;
}
.button {
    margin: 0 10px;
    border-radius: 10px;
}
h1 {
    font-weight: bold;
    color: #062b53;
    font-size: 60px;
}
.border-light {
    color: #007bff;
}
header .row .col-12 p {
    padding-left: 25vmin;
    padding-right: 25vmin;
    font-size: 18px;
}
/* -------------------------------------------------------- */
.col-10 img {
    width: 100vmin;
    border-radius: 15px;
    margin: 0;
}
.col-2 .total {
    display: block;
    text-align: center;
    margin-top: 3vmin;
}
/* ------------------------------------------------------- */
.row .col-12 {
    margin-top: 50px;
}
.card {
    border-radius: 10px;
    border: 0;
    height: 330px;
}
.card-img-top {
    border-radius: 10px;
}
.category {
    font-size: 10px;
    background: #ebf4fe;
    border-radius: 8px;
    padding: 5px 15px;
}
.price {
    color: #007bff;
    font-weight: bold;
    font-size: 14px;
}
.name {
    font-weight: bold;
    font-size: 15px;
}
.info {
    color: rgb(126, 125, 125);
    font-size: 15px;
}
.rate {
    color: #007bff;
    font-size: 12px;
}
.rate i {
    color: #3e90ff;
}
.arrow {
    background: #738fad;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
}
.arrow i {
    margin-left: 50%;
    transform: translateX(-50%);
}
.round {
    width: 30px;
    height: 30px;
    background-color: lightgray;
    border-radius: 50%;
    /* text-align: center;
    line-height: 30px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ------------------------------------------------------- */
.row .col-6 h2 {
    font-weight: bold;
    color: #062b53;
    font-size: 40px;
}
.row .col-6 p {
    font-size: 15px;
}
.row .col-6 .total {
    display: inline;
    text-align: center;
    margin-top: 10px;
    margin-right: 30px;
}
.col-6 .row .item, .col-6 .row .text {
    display: inline-block;
}
.item img {
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
.text h5 {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    margin-left: -10px;
}
/* ------------------------------------------------------- */
.row .col-12 h1 {
    text-align: center;
}
.col-3 .topic {
    width: 270px;
    height: 370px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-3 .topic img {
    width: 250px;
    height: 350px;
    border-radius: 10px;
}
/* ------------------------------------------------------- */
.row .col-6 .content h1 {
    color: #062b53;
    font-weight: bold;
}
.row .col-6 .content p {
    font-size: 16px;
}
.content ul {
    list-style-type: none;
}
.content ul li {
    margin: 10px;
    font-weight: bold;
    color: #062b53;
    font-size: 20px;
    margin-left: -35px;
}
.col-6 .img1 img{
    width: 100%;
    border-radius: 10px;
    opacity: 0.8;
}
.col-6 .img2 {
    position: absolute;
    background: white;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0px 25px 42px 0px #a29696;
    z-index: 1; /*cho phan tu noi*/
    top: 7vmin;
    left: -20vmin; /*ptu lui qua trai de len img*/
    /* padding: 13vmin 5vmin 20vmin; */
    padding: 10px;
    margin-top: 150px;
    margin-left: 150px;
}
.col-6 .img2 img {
    width: 250px;
    height: 180px;
    border-radius: 10px;
}
/* ------------------------------------------------------- */
.section5 {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    background-color: #3c91ec;
}
.button1 {
    background-color: white;
    color: #062b53;
    font-weight: bold;
    border-radius: 15px;
    font-size: 18px;
    width: 180px;
    height: 60px;
    margin-top: 80px;
    margin-left: 50px;
}
/* ------------------------------------------------------- */
.container h6 {
    font-weight: bold;
    font-size: 25px;
    margin-top: 22px;
}
.container .col-4 p {
    font-size: 18px;
    margin-top: 10px;
}
.container .col-4 i {
    font-size: 20px;
}
.container .col-3 i {
    margin-bottom: 10px;
}
hr {
    color: rgb(50, 47, 47);
}